  *{
      margin:1px;
      padding:0;
  }
  body{
      background:#b89dd9;
  }
  .navbar{
      border-radius: 23px;
      border: solid #966ec6d6;
      /* background: linear-gradient(red,blue); */
      
      /* background: linear-gradient(#e66465, #9198e5); */
      background: linear-gradient(#d77979, #9198e5);
      width: auto;
      height: 100px;
    }
    .navbar ul{
        overflow:auto;
    }
    .navbar li{
        float: left;
        list-style-type:none;
        margin: 36px 110px;
        font-size: 4vh;
        text-align: center;
        color: chocolate;
  }
  .navbar li a:hover{
      background-color: rgb(105, 112, 129);
      transition: 0.8s;
  }
  .navbar li a{
      padding: 3px 3px;
      text-decoration: none;
      color: white;
      /* position: absolute;
      right: 20px; */
      /* display: block; */
      margin-left: 82px;
  }
  .navbar li img{
    height: 35px;
    /* width: 100px; */
    padding: -2px 20px 0px 20px;
    margin: 61px;
    margin-top: -46px;
    cursor:pointer;
    border-radius: 6px;
    position:absolute;
    top: 81px;
    left: -15px;
}
   /* img{
      width:30px;
      height: 30px;
  } */
  /* .navbar{
    font-size: 20px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 250px;
    padding: 10px 12px 12px 18px;
  } */
  h1{
      font-size: 5vh;
      font-weight: 600;
      margin: 0px 0px 0px 10px;
  }
  p{
      font-size: 24px;
      margin: 0px 120px 0px 120px;
      /* text-align: justify; */
  }
  h1,h2{
      color:#622997;
  }
  h2{
   font-weight: 575;
   /* padding: 0px 0px 0px 20px; */
   text-align: center;
   font-size: 26px;
  }
  p{
      color: #824646;
  }


  .center {
    display: block;
    width: 60%;
    margin: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .book1 p{
      text-align: justify;
  }
  hr {
    border: none;
    border-top: 3px double #333;
    color: rgb(165, 155, 155);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    /* content: '§'; */
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* Copy
 */
 .contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row .content .title{
    text-transform: none;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    /* align-items: center; */
    font-size: 2.5rem;
    color:#eee;
    /* padding:1rem 0; */
    font-weight: normal;
    text-align-last: center;
    padding: 50px 20px 0px 250px ;
    margin-left: 20px;
    

}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}
pre{
    font-size: 24px;
    color: #073080;
    font-weight: 550;
}
span{
    font-size:25px;
    font-weight: 550;
    color: #a41063;
}
.padding{
    padding: 0px 0px 0px 25px;
}

.contact h3{
    color: #252575;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
h4{
    /* font-family: italic; */
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    padding: 0px 0px 0px 50px;
    color: #5b5bdf;
    font-weight: 400;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }